
.all-content{
    background: rgb(38, 26, 26);
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(airimage/aboutt.jpg);
    background-size: cover;
  
}.all-content .img{
    flex: 1 1 400px;
}
.all-content .img img{
    width: 100%;
}
#about h1{
padding: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(235, 232, 227);
    text-shadow: 1px 1px 1px black;
    letter-spacing: 5px;
    border-bottom: 2px solid rgb(238, 236, 232);
}
#about p{
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-shadow: 1px 1px 1px black;
   
}